<div id="<%= dom_id(item) %>">
  <p><strong>Name:</strong> <%= item.name %></p>
  <p><strong>Description:</strong> <%= item.description %></p>
  <p><strong>Credit price:</strong> <%= item.credit_price %></p>
  <p><strong>Cash price:</strong> <%= item.cash_price %></p>
  <p style="color: green"><%= notice %></p>
</div>
