<% content_for :title, "Editing category" %>

<h1><%= @category.name.upcase %></h1>
<p><%= @category.note %></p>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Show this category", @category %> |
  <%= link_to "Back to categories", categories_path %>
</div>
